*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

.barra{
    background-color: #255ee9;
}

.container{
    background-color: #255ee9;
    width: 90%;
    height: 60px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.flex{
    display: flex;
}

ul, a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.link li{
    padding: 15px;
}

button{
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.sfondo{
    background-color:#255ee9;
    height: 500px;
    justify-content: center;
    background-image: url(img/jumbo.png);
    background-size: cover;
}

.presentazione{
    height: 400px;
    width: 750px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    color: white;
}

.presentazione h1{
    font-size: 50px;
    padding-bottom: 20px;
    padding-top: 100px;
    text-align: center;
}

.presentazione p, .test p{
    font-size: 22px;
    text-align: center;
    line-height: 35px;
}

.presentazione button{
    margin-top: 20px;
    margin-right: 10px;
}

.nero{
    background-color: black;
    color: white;
}

/*main*/

section{
    padding: 50px 0px;
    justify-content: center;
}

.blocco{
    height: 500px;
    width: 1000px;
    display: flex;
}

.grande{
    width: 60%;
    height: 100%;
}

.grande img{
    width: 100%;
}

.piccolo h1, .test h1{
    font-size: 50px;
    padding-bottom: 20px;
}

.piccolo p{
    font-size: 22px;
}

.piccolo{
    width: 40%;
    height: 100%;
    padding-top: 26px;

}

.test{
    text-align: center;
    padding:0px 164px;
    font-size: large;
}

.img-container{
    display: flex;
    justify-content: center;  
    width: 100%;
}

.stelle{
    background-image: url(img/stars.svg);
    height: 200px;
    width: 600px;
    background-repeat: no-repeat;
    margin-left: 400px;
    background-size: contain;
    text-align: center;
}

.stelle h1{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
}

.blu{
    background-color: #255ee9;
    color: white;
    margin-top: 30px;
    
}


/*Footer*/

.prova{
    padding: 70px 0px;
    background-color: black;
    height: 550px;
    width: 100%;
    justify-content: space-around;
}

.principale{
    height: 100%;
    
}

.no{
    font-size: 30px;
}

#italia{
    width: 25px;
    padding-top: 20px;
}

span{
    color: white;
}

.principale h2, .riga{
    color: blue;
}

.riga{
    
    height: 100%;
}

.riga li{
    margin-top: 20px;
}



.finale{
    background-color: black;
    height: 100px;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

.conclusione{
    width: 1000px;
    height: 100%;
    border-top: 2px solid #255ee9;
    justify-content: space-between;
}

.conclusione img{
    width: 130px;
}
